* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.home-page-main {
    min-height: 100vh;
    background: url('../img/background.jpeg') no-repeat;
    background-size: cover;
    background-position: center;
}

/*Nav bar code start*/
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.3rem 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .1);
    backdrop-filter: blur(50px);
    z-index: -1;
}

.header::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, transparent, rgba(255, 255, 255, .4), transparent);
    transition: .5s;
}

.header:hover::after{
    left: 100%;
}

.logo {
    font-size: 2rem;
    color: #fff;
    text-decoration: none;
    font-weight: 700;
}

.navbar a {
    font-size: 1.15rem;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 2.5rem;
}

#check {
    display: none;
}

.icons {
    position: absolute;
    right: 5%;
    font-size: 2.8rem;
    color: #fff;
    cursor: pointer;
    display: none;
}

/* BREAKPOINTS */
@media (max-width: 992px) {
    .header {
        padding: 1.3rem 5%;
    }
}

@media (max-width: 885px) {
    .icons {
        display: inline-flex;
    }

    #check:checked~.icons #menu-icon {
        display: none;
    }

    .icons #close-icon {
        display: none;
    }

    #check:checked~.icons #close-icon {
        display: block;
    }


    .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 0;
        background: rgba(0, 0, 0, .1);
        backdrop-filter: blur(50px);
        box-shadow: 0.5rem 1rem rgba(0, 0, 0, .1);
        overflow: hidden;
        transition: .3s ease;
    }

    #check:checked~.navbar {
        height: 17.7rem;
    }


    .navbar a {
        display: block;
        font-size: 1.1rem;
        margin: 1.5rem 0;
        text-align: center;
        transform: translateY(-50px);
        opacity: 0;
        transition: .3s ease;
    }

    #check:checked~.navbar a {
        transform: translateY(0);
        opacity: 1;
        transition-delay: calc(.15s * var(--i));
    }
}
/*Nav bar code end*/


/*big title css code and animation*/
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70vh;
}

.head-title {
    font-size: 5vw;
    font-weight: bold;
    text-align: center;
    overflow-wrap: break-word;
    color: #fff;
    animation: pulse 2s infinite alternate, fade 2s infinite alternate;
    margin: 3rem;
}

/*text fix overflow*/
@media (max-width: 768px) {
    .head-title {
        font-size: 15vw;
    }
}

@media (min-width: 769px) {
    .head-title {
        font-size: 5vw;
    }
}
/*fix end*/

@keyframes pulse {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.1);
    }
}

@keyframes fade {
    from {
        opacity: 1;
    }
    to {
        opacity: 0.5;
    }
}
/*big title css code and animation end*/

/*Start of animated button*/
.button-container {
    display: flex;
    align-items: center;
}

.first-page-button {
    padding: 20px 40px;
    font-size: 1.5rem;
    background: rgba(0, 0, 0, .1);
    backdrop-filter: blur(10px);
    color: #fff;
    border: 2px solid rgba(153, 0, 255, 0.274);
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 2s ease;
}

.first-page-button:hover {
    background-color: rgba(53, 9, 124, 0.712); 
    animation: flash 2s; 
}

/* Flash Animation */
@keyframes flash {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}
/*End of animated button*/

/*footer css code*/
.footer {
    background: rgba(0, 0, 0, .1);
    backdrop-filter: blur(50px);
    color: #fff;
    padding: 20px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-left {
    flex: 1;
    padding-left: 1rem;
}

.footer-right {
    flex: 1;
    text-align: right;
    padding-right: 1rem;
}

.social-icons a {
    color: #fff;
    text-decoration: none;
    margin-right: 20px;
    display: inline-block;
}

.social-icons a i {
    margin-right: 5px;
}

.copyright {
    text-align: center;
    margin-top: 1rem;
}

/* Media Queries */
@media screen and (max-width: 768px) {
    .footer-content {
        flex-direction: column;
    }
  
    .footer-left,
    .footer-right {
        text-align: center;
    }

    .social-icons {
        margin-top: 20px;
    }
}
/*end of footer css code*/





/*END OF HOME PAGE*/



/*START OF SERVICES PAGE*/

.services-page-main {
    min-height: 100vh;
    background: url('../img/services-background.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    padding-bottom: 150px;
}

/*Themed events service*/

.themed-events {
    display: flex;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 20px;
}

.themed-events-content {
    display: flex;
    align-items: center;
    padding-left: 10vw;
    padding-right: 10vw;
}

.themed-events-image img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
    width: 200px;
    height: 200px;
    border-radius: 10px;
}

.themed-events-details {
    flex: 1;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
}

.themed-events-details h2 {
    font-size: 1.6rem;
    margin-bottom: 10px;
    text-align: left; 
}

.themed-events-details p {
    font-size: 1.6remx;
    text-align: left;
}

@media (max-width: 768px) {
    .themed-events-content {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 2vw;
    }

    .themed-events-details h2,
    .themed-events-details p {
        text-align: center;
    }

    .themed-events-details {
        margin-left: 0; 
        margin-top: 20px; 
    }

    .themed-get-quote-button {
        margin: 20px auto; 
    }
}

.themed-get-quote-button {
    margin-top: 1rem;
    padding: 10px 20px;
    width: 10rem;
    border: none;
    border-radius: 20px;
    background: rgba(66, 51, 202, 0.651);
    backdrop-filter: blur(50px);
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease; 
}

.themed-get-quote-button:hover {
    background-color: #761ac2;
}

/*Marquee events service*/

.marquee-events {
    display: flex;
    justify-content: center;
    margin-top: 25px;
    margin-bottom: 20px;
}

.marquee-events-content {
    display: flex;
    align-items: center;
    padding-left: 10vw;
    padding-right: 10vw;
}

.marquee-events-image img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
    width: 200px;
    height: 200px;
    border-radius: 10px;
}

.marquee-events-details {
    flex: 1;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
}

.marquee-events-details h2 {
    font-size: 1.6rem;
    margin-bottom: 10px;
    text-align: left; 
}

.marquee-events-details p {
    font-size: 1.6remx;
    text-align: left;
}

@media (max-width: 768px) {
    .marquee-events-content {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 2vw;
    }

    .marquee-events-details h2,
    .marquee-events-details p {
        text-align: center;
    }

    .themed-events-details {
        margin-left: 0; 
        margin-top: 20px; 
    }

    .marquee-get-quote-button {
        margin: 20px auto; 
    }
}

.marquee-get-quote-button {
    margin-top: 1rem;
    padding: 10px 20px;
    width: 10rem;
    border: none;
    border-radius: 20px;
    background: rgba(66, 51, 202, 0.651);
    backdrop-filter: blur(50px);
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease; 
}

.marquee-get-quote-button:hover {
    background-color: #761ac2;
}

/*Special events service*/

.special-events {
    display: flex;
    justify-content: center;
    margin-top: 25px;
    margin-bottom: 20px;
}

.special-events-content {
    display: flex;
    align-items: center;
    padding-left: 10vw;
    padding-right: 10vw;
}

.special-events-image img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
    width: 200px;
    height: 200px;
    border-radius: 10px;
}

.special-events-details {
    flex: 1;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
}

.special-events-details h2 {
    font-size: 1.6rem;
    margin-bottom: 10px;
    text-align: left; 
}

.special-events-details p {
    font-size: 1.6remx;
    text-align: left;
}

@media (max-width: 768px) {
    .special-events-content {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 2vw;
    }

    .special-events-details h2,
    .special-events-details p {
        text-align: center;
    }

    .special-events-details {
        margin-left: 0; 
        margin-top: 20px; 
    }

    .special-get-quote-button {
        margin: 20px auto; 
    }
}

.special-get-quote-button {
    margin-top: 1rem;
    padding: 10px 20px;
    width: 10rem;
    border: none;
    border-radius: 20px;
    background: rgba(66, 51, 202, 0.651);
    backdrop-filter: blur(50px);
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease; 
}

.special-get-quote-button:hover {
    background-color: #761ac2;
}

/*Entertainment events service*/

.entertainment-events {
    display: flex;
    justify-content: center;
    margin-top: 25px;
    margin-bottom: 20px;
}

.entertainment-events-content {
    display: flex;
    align-items: center;
    padding-left: 10vw;
    padding-right: 10vw;
}

.entertainment-events-image img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
    width: 200px;
    height: 200px;
    border-radius: 10px;
}

.entertainment-events-details {
    flex: 1;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
}

.entertainment-events-details h2 {
    font-size: 1.6rem;
    margin-bottom: 10px;
    text-align: left; 
}

.entertainment-events-details p {
    font-size: 1.6remx;
    text-align: left;
}

@media (max-width: 768px) {
    .entertainment-events-content {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 2vw;
    }

    .entertainment-events-details h2,
    .entertainment-events-details p {
        text-align: center;
    }

    .entertainment-events-details {
        margin-left: 0; 
        margin-top: 20px; 
    }

    .entertainment-get-quote-button {
        margin: 20px auto; 
    }
}

.entertainment-get-quote-button {
    margin-top: 1rem;
    padding: 10px 20px;
    width: 10rem;
    border: none;
    border-radius: 20px;
    background: rgba(66, 51, 202, 0.651);
    backdrop-filter: blur(50px);
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease; 
}

.entertainment-get-quote-button:hover {
    background-color: #761ac2;
}

/*Other events service*/

.other-events {
    display: flex;
    justify-content: center;
    margin-top: 25px;
    margin-bottom: 20px;
}

.other-events-content {
    display: flex;
    align-items: flex-start;
    padding-left: 10vw;
    padding-right: 10vw;
}

.other-events-image img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
    width: 200px;
    height: 200px;
    border-radius: 10px;
}

.other-events-details {
    flex: 1;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
}

.other-events-details h2 {
    font-size: 1.6rem;
    margin-bottom: 10px;
    text-align: left; 
}

.other-events-details p {
    font-size: 1.6remx;
    text-align: left;
}

.other-events-details ul {
    margin-top: 10px;
    padding-left: 20px;
}

.other-events-details ul li {
    font-size: 1.2rem;
    margin-bottom: 5px;
}

@media (max-width: 768px) {
    .other-events-content {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 2vw;
    }

    .other-events-details h2,
    .other-events-details p {
        text-align: center;
        list-style-position: inside;
    }

    .other-events-details {
        margin-left: 0; 
        margin-top: 20px; 
    }

    .other-services-list-div {
        align-items: center;
        margin-left: 25vw;
    }
    .other-services-list ul,
    .other-services-list li {
        list-style-position: inside;
    }

    .other-get-quote-button {
        margin: 20px auto; 
    }

}

.other-get-quote-button {
    margin-top: 1rem;
    padding: 10px 20px;
    width: 10rem;
    border: none;
    border-radius: 20px;
    background: rgba(66, 51, 202, 0.651);
    backdrop-filter: blur(50px);
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease; 
}

.other-get-quote-button:hover {
    background-color: #761ac2;
}

.separator-line {
    border: none;
    height: 10px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(50px);
    margin: 40px 0;
}




/*END OF SERVIES PAGE*/



/*START OF CONTACT PAGE*/

.contact-page-main {
    min-height: 100vh;
    background: url('../img/contact-background.jpeg') no-repeat;
    background-size: cover;
    background-position: center;
}

.under-construction {
    margin-top: 100px;
    text-align: center;
    color: white;
    font-size: 2rem;
}