* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    min-height: 100vh;
    background: url('/assets/img/background.jpeg') no-repeat;
    background-size: cover;
    background-position: center;
}

/*Nav bar code start*/
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.3rem 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .1);
    backdrop-filter: blur(50px);
    z-index: -1;
}

.header::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, transparent, rgba(255, 255, 255, .4), transparent);
    transition: .5s;
}

.header:hover::after{
    left: 100%;
}

.logo {
    font-size: 2rem;
    color: #fff;
    text-decoration: none;
    font-weight: 700;
}

.navbar a {
    font-size: 1.15rem;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 2.5rem;
}

#check {
    display: none;
}

.icons {
    position: absolute;
    right: 5%;
    font-size: 2.8rem;
    color: #fff;
    cursor: pointer;
}

/* BREAKPOINTS */
@media (max-width: 992px) {
    .header {
        padding: 1.3rem 5%;
    }
}

@media (max-width: 885px) {
    .icons {
        display: inline-flex;
    }

    #check:checked~.icons #menu-icon {
        display: none;
    }

    .icons #close-icon {
        display: none;
    }

    #check:checked~.icons #close-icon {
        display: block;
    }


    .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 0;
        background: rgba(0, 0, 0, .1);
        backdrop-filter: blur(50px);
        box-shadow: 0.5rem 1rem rgba(0, 0, 0, .1);
        overflow: hidden;
        transition: .3s ease;
    }

    #check:checked~.navbar {
        height: 17.7rem;
    }


    .navbar a {
        display: block;
        font-size: 1.1rem;
        margin: 1.5rem 0;
        text-align: center;
        transform: translateY(-50px);
        opacity: 0;
        transition: .3s ease;
    }

    #check:checked~.navbar a {
        transform: translateY(0);
        opacity: 1;
        transition-delay: calc(.15s * var(--i));
    }
}
/*Nav bar code end*/


/*big title css code and animation*/
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.head-title {
    font-size: 5vw;
    font-weight: bold;
    text-align: center;
    overflow-wrap: break-word;
    color: #fff;
    animation: pulse 2s infinite alternate, fade 2s infinite alternate;
}

/*text fix overflow*/
@media (max-width: 768px) {
    .head-title {
        font-size: 15vw; /* Adjust as needed for smaller screens */
    }
}

@media (min-width: 769px) {
    .head-title {
        font-size: 5vw; /* Adjust as needed for larger screens */
    }
}
/*fix end*/

@keyframes pulse {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.1);
    }
}

@keyframes fade {
    from {
        opacity: 1;
    }
    to {
        opacity: 0.5;
    }
}
/*big title css code and animation end*/

/*footer css code*/
.footer {
    background: rgba(0, 0, 0, .1);
    backdrop-filter: blur(50px);
    color: #fff;
    padding: 20px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-left {
    flex: 1;
    padding-left: 1rem;
}

.footer-right {
    flex: 1;
    text-align: right;
    padding-right: 1rem;
}

.social-icons a {
    color: #fff;
    text-decoration: none;
    margin-right: 20px;
    display: inline-block;
}

.social-icons a i {
    margin-right: 5px;
}

.copyright {
    text-align: center;
    margin-top: 1rem;
}

/* Media Queries */
@media screen and (max-width: 768px) {
    .footer-content {
        flex-direction: column;
    }
  
    .footer-left,
    .footer-right {
        text-align: center;
    }

    .social-icons {
        margin-top: 20px;
    }
}
/*end of footer css code*/